.overview
{
	
	background-image:url('wic.jpg');
	height:600px;
	background-repeat:no-repeat;
	margin-top:20px;
	padding-bottom:20px;
	background-size:cover;
	
	
}
h3
{
	margin-top:20px;
	text-align:center;
	text-decoration:underline;
	font-family: 'Cinzel Decorative', cursive;
	
	
}

.nav-item
{
	font-family: 'Cinzel Decorative', cursive;
}
#footer
{
	background-color:#73513A;
	height:50px;
	margin-top:40px;
}
.foot{
	text-align:center;
}
.ft
{
	text-align:center;
	
}
h5
{
	color:black;
}
h6
{
   
	text-shadow:1px 1px #73513A;
	font-family: 'Cinzel Decorative', cursive;
	
}


